<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Procured | Details</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/templatemo-style.css">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.singlePageNav.min.js"></script>
    <script src="../js/typed.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/custom.js"></script>
    <script src="js/validate.js"></script>
    <style>
        body
        {
            background-image:url(../images/stack-of-books-vintage-books-book-books-medium.jpg);
        }
        .logo
        {
            height:58px;
            width:180px;
        }
        #btn2
        {
            background-color: blue;
            padding:5px;
            border: 1px solid black;
            border-radius:5px;
            margin-left:80%;
            color:white;
            box-shadow: 2px 3px 5px #303030;
            font-size: 24px;
            z-index: 5px;
            text-align: center;
        }
        .first
        {
            margin:3%;
            border-radius:4px;
            z-index:4px;
            color:black;
            padding:10px;
            background-color:white;
            font-weight:bold;
        }
        #btn2:hover
        {
            color:black;
        }
        input
        {
            border-radius:4px;
            margin-bottom:2%;
            padding:5px;
        }
        .hr1
        {
            border:2px solid grey;
        }
        .h33
        {
            font-weight:bolder;
            color:#009999;
        }
        .select
        {
            padding:5px;
            border-radius:3px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default templatemo-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><span><img src="../images/Logo (New).png" class="logo"></span></a>
        </div>
    </div>
</nav>
<div class="container image1">
    <div class="row">
        <form action='/studentdata' method="post" role="form">
            <div class="col-md-12 form-group first">

                <h3 class="h33">Personal Details</h3>
                <hr class="hr1">
                <div class="col-md-6">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" required ></div></div></div>
                <div class="col-md-6">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" required ></div></div></div>

                <div class="col-md-6">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-gift"></span></span>
                            <input type="date" name="b_day" id="date"  class="form-control" required></div></div></div>

                <div class="col-md-6">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" name="id" id="ID"  class="form-control" placeholder="Student Id" required></div></div></div>

                <div class="col-md-6">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                            <input type="text" name="contact_no" id="contact_no"  class="form-control" placeholder="Enter only 10 digits" maxlength="10" required></div></div></div>

                <div class="col-md-6">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                            <select class="select form-control selectpicker" name="Gender">
                                <option name="gender" value="Gender">Gender</option>
                                <option name="Male" value="Male">Male</option>
                                <option name="Female" value="Female">Female</option>
                                <option name="Other" value="Other">Other</option></select></div></div></div>

                <div class="col-md-12">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="email" name="email_id" id="student_Id"  class="form-control" placeholder="Email Id" value=<%= email %>></div></div></div>
            </div>
            <div class="col-md-12 form-group first">
                <h3  class="h33">Educational Details</h3>
                <hr class="hr1">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                                <select class="select form-control selectpicker" name="board_10">
                                    <option name="board_10" value="Board">Board-10th</option>
                                    <option name="CBSE" value="CBSE">CBSE</option>
                                    <option name="ISC" value="ISC">ISC</option>
                                    <option name="IB" value="IB">IB</option>
                                    <option name="Other" value="other">Other</option></select></div></div></div>

                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input type="text" name="yop_10" id="yop-10"  class="form-control" placeholder="Year of passing-10th" maxlength="4" required></div></div></div></div>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
                                <input type="text" name="marks_10" id="%age-10"  class="form-control" placeholder="Percentage-10th" required></div></div></div></div><br><br><hr style="border:.5px solid #d2cfcf">

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                                <select class="select form-control selectpicker" name="board_12">
                                    <option name="board_12" value="Board">Board-12th</option>
                                    <option name="CBSE" value="CBSE">CBSE</option>
                                    <option name="ISC" value="ISC">ISC</option>
                                    <option name="IB" value="IB">IB</option>
                                    <option name="Other" value="other">Other</option>
                                </select>
                            </div></div></div>

                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input type="text" name="yop_12" id="yop-12"  class="form-control" placeholder="Year of passing-12th" maxlength="4" required></div></div></div></div>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
                                <input type="text" name="marks_12" id="%age-12"  class="form-control" placeholder="Percentage-12th" required></div></div></div></div><br><br><hr style="border:0.5px solid #d2cfcf">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                                <select class="select form-control selectpicker" name="univug_name">
                                    <option name="univug_name" value="University">University-UG</option>
                                    <option name="NIT K" value="NIT KKr">NIT KKR</option>
                                    <option name="NIT T" value="NIT T">NIT T</option>
                                    <option name="NIT S" value="Nit suratkal">NIT suratkal</option>
                                    <option name="Other" value="other">Other</option></select></div></div></div>

                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input type="text" name="yop_grad" id="yop-grad"  class="form-control" placeholder="Year of passing-UG" maxlength="4" required></div></div></div></div>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
                                <select class="select form-control selectpicker" >
                                    <option name="course_grad" value="course">Course</option>
                                    <option name="Bcom"value="mcom">B.com</option>
                                    <option name="BCA" value="mca">BCA</option>
                                    <option name="MCA"value="mca">BE</option>
                                    <option name="B.tech"value="mtech">B.tech</option>
                                    <option name="other"value="other">Other</option></select></div></div></div></div>

                <div class="col-md-6">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                                <select class="select form-control selectpicker" >
                                    <option name="stream_grad" value="Stream">Stream</option>
                                    <option name="EC"value="EC">Electronics and communication</option>
                                    <option name="CS"value="CS">Computer Science</option>
                                    <option name="IT"value="IT">Information Technology</option>
                                    <option name="other"value="other">Other</option></select></div></div></div></div>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
                                <input type="text" name="cgpa_grad" id="%age-grad"  class="form-control" placeholder="Percentage-UG" required></div></div></div></div><br><br><hr style="border:0.5px solid #d2cfcf">

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></span>
                                <select class="select form-control selectpicker">
                                    <option value="University">University-PG</option>
                                    <option value="NIT KKr">NIT KKR</option>
                                    <option value="NIT T">NIT T</option>
                                    <option value="Nit suratkal">NIT suratkal</option>
                                    <option value="other">Other</option></select></div></div></div>

                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input type="text" name="yop_pg" id="yop-pg"  class="form-control" placeholder="Year of passing-PG" maxlength="4"></div></div></div></div>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
                                <select class="select form-control selectpicker" >
                                    <option value="course">Course</option>
                                    <option value="mcom">M.com</option>
                                    <option value="mca">MCA</option>
                                    <option value="mtech">M.tech</option>
                                    <option value="other">Other</option></select>
                            </div></div></div></div>

                <div class="col-md-6">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                                <select class="select form-control selectpicker" >
                                    <option value="Stream">Stream</option>
                                    <option value="EC">Electronics and communication</option>
                                    <option value="CS">Computer Science</option>
                                    <option value="IT">Information Technology</option>
                                    <option value="other">Other</option></select>
                                </div></div></div></div>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
                                <input type="text" name="cgpa_pg" id="%age-pg"  class="form-control" placeholder="Percentage-PG" ></div></div></div></div>

                <input type="submit" id="btn2"onclick="change()" value="Submit">
            </div>
        </form></div></div>
</body>
</html>